.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .icon-container a {
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
  .icon-container a:hover {
    color: #ff5722;
  }
  